Source: buku
Section: misc
Priority: optional
Build-Depends: debhelper (>= 9)
Maintainer: Johnathan Jenkins <twodopeshaggy@gmail.com>
Standards-Version: 3.9.2
Homepage: https://github.com/jarun/buku/
Vcs-Git: git://git@github.com:jarun/buku.git
Vcs-Browser: https://github.com/jarun/buku.git

Package: buku
Depends: ${shlibs:Depends}, ${misc:Depends}, python3 (>= 3.3), python3-crypto, python3-bs4, python3-urllib3, python3-requests
Architecture: all
Description: Powerful command-line bookmark manager
 See https://github.com/jarun/Buku#readme.
