Source: nnn
Section: misc
Priority: optional
Build-Depends: debhelper (>= 9), libncurses5-dev , libncursesw5-dev, libreadline-dev, pkg-config
Maintainer: Johnathan Jenkins <twodopeshaggy@gmail.com>
Standards-Version: 3.9.2
Homepage: https://github.com/jarun/nnn/
Vcs-Git: git://git@github.com:jarun/nnn.git
Vcs-Browser: https://github.com/jarun/nnn.git

Package: nnn
Depends: ${shlibs:Depends}, ${misc:Depends}
Architecture: i386 amd64
Description: Free, fast, friendly file browser.
 See https://github.com/jarun/nnn#readme.
