Source: bcal
Section: misc
Priority: optional
Build-Depends: debhelper (>= 9), libquadmath0
Maintainer: Johnathan Jenkins <twodopeshaggy@gmail.com>
Standards-Version: 3.9.2
Homepage: https://github.com/jarun/bcal/
Vcs-Git: git://git@github.com:jarun/bcal.git
Vcs-Browser: https://github.com/jarun/bcal.git

Package: bcal
Depends: ${shlibs:Depends}, ${misc:Depends}
Architecture: amd64
Description: Byte CALculator. The engineer's utility for storage conversions and calculations.
 See https://github.com/jarun/bcal#readme.
