Source: googler
Section: misc
Priority: optional
Build-Depends: debhelper (>= 9)
Maintainer: Johnathan Jenkins <twodopeshaggy@gmail.com>
Standards-Version: 3.9.2
Homepage: https://github.com/jarun/googler/
Vcs-Git: git://git@github.com:jarun/googler.git
Vcs-Browser: https://sagetarian@github.com/jarun/googler.git

Version: 2.8
Package: googler
Depends: ${shlibs:Depends}, ${misc:Depends}, python3 (>= 3.3)
Architecture: all
Description: Google Search and News from the command-line
 See https://github.com/jarun/googler#readme.
